body{
    height: 95vh;
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column ;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #252621;
    background-size: cover;
}

.iniciar {
    font-family: 'Press Start 2P', cursive;
}

#btn{
    margin: 30px;
    font-family: 'Press Start 2P', cursive;
    font-size: 13;
    width: 165px;
    height: 35px;
    background-color:  #b80000;
    padding: 9px 50px;
    border: none;
    border-radius: 4px;
    color: white;
}

#btn:hover{
    background-color:  #fa3e3e;
    transition: 0.2s;
}
